:root {
   --cor-de-fundo: #000000
   --cor-texto: #ffffff
}
body{
   background-color: var(--cor-de-fundo);
}
.title {
   color: var(--cor-texto);
   text-align: center;
}
.conteudo-principal {
   display: flex;
   justify-content: center;
   align-content: center;
}